button{
    width: 92px;
}

.header{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.options-container{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.choice-container{
    display: flex;
    justify-content: space-evenly;
}
#user-choice{
    width: 290px;
    display: flex;
    justify-content: end;
}
#computer-choice{
    width: 290px;
    display: flex;
    justify-content: center;
}