button{
    width: 92px;
}

.header{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.options-container{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.choice-container{
    display: flex;
    justify-content: space-evenly;
}
#user-choice{
    width: 290px;
    display: flex;
    justify-content: end;
}
#computer-choice{
    width: 290px;
    display: flex;
    justify-content: center;
}

.round-winner-container{
    display: flex;
    justify-content: center;
}

.score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1; */
}

.tally-container{
    display: flex;
    gap: 72px;
    /* justify-content: space-between; */
}

.tally-left,
.tally-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}

.winner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-over{
    font-size: 72px;
}

#winner{
    font-size: 64px;
    margin: 0px;
}